# Fennie's Pandas Descriptive Statistics Report
## Python script reads a dataset, generates descriptive statistics, and a visualization using Pandas
### Russian Equipment Losses (since the start of the war)
#### Data Source - Kaggle: Russia Ukraine War 2022
#### URL: https://www.kaggle.com/datasets/piterfm/2022-ukraine-russian-war?select=russia_losses_equipment.csv

First, we will begin by reading in and examining a preview of our dataset. Previewing the data set ensures it was properly imported and stored.

In [1]:
# load required packages
import library as lib

# create a local variable and import our data
data = lib.data_read("russia_losses_equipment.csv")

# preview data to test for a successful upload
lib.data_preview(data)

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system,greatest losses direction,vehicles and fuel tanks,cruise missiles,submarines
0,2024-09-08,928,368,328,8636,16897,17804,1180,NaN,NaN,14864,28,942,3047.0,NaN,NaN,24218.0,2588.0,1.0
1,2024-09-07,927,368,328,8632,16878,17774,1178,NaN,NaN,14784,28,942,3037.0,NaN,NaN,24171.0,2588.0,1.0
2,2024-09-06,926,368,328,8631,16878,17745,1178,NaN,NaN,14732,28,941,3037.0,NaN,NaN,24116.0,2587.0,1.0
3,2024-09-05,925,368,328,8624,16869,17725,1177,NaN,NaN,14658,28,940,3024.0,NaN,NaN,24044.0,2587.0,1.0
4,2024-09-04,924,368,328,8618,16848,17694,1177,NaN,NaN,14616,28,940,3014.0,NaN,NaN,24007.0,2580.0,1.0

Great! As we can see, the date set is tabular and each instance is represented by a day. Column names appear to be different kinds of equipment, but lets see all the column names before continuing.

In [2]:
lib.data_column_names(data)

Index(['date', 'day', 'aircraft', 'helicopter', 'tank', 'APC',
       'field artillery', 'MRL', 'military auto', 'fuel tank', 'drone',
       'naval ship', 'anti-aircraft warfare', 'special equipment',
       'mobile SRBM system', 'greatest losses direction',
       'vehicles and fuel tanks', 'cruise missiles', 'submarines'],
      dtype='object')

Excellent. Now that we know exactly all of the fields of data available to us, we need some summary statistics to gain a deeper understanding of the actual data.

In [3]:
lib.data_summary_stats(data)

<bound method NDFrame.describe of            date  day  aircraft  helicopter  tank    APC  field artillery  \
0    2024-09-08  928       368         328  8636  16897            17804
1    2024-09-07  927       368         328  8632  16878            17774
2    2024-09-06  926       368         328  8631  16878            17745
3    2024-09-05  925       368         328  8624  16869            17725
4    2024-09-04  924       368         328  8618  16848            17694
..          ...  ...       ...         ...   ...    ...              ...
922  2022-03-01    6        29          29   198    846               77
923  2022-02-28    5        29          29   150    816               74
924  2022-02-27    4        27          26   150    706               50
925  2022-02-26    3        27          26   146    706               49
926  2022-02-25    2        10           7    80    516               49

      MRL  military auto  fuel tank  drone  naval ship  anti-aircraft warfare  \
0    1180            NaN        NaN  14864          28                    942
1    1178            NaN        NaN  14784          28                    942
2    1178            NaN        NaN  14732          28                    941
3    1177            NaN        NaN  14658          28                    940
4    1177            NaN        NaN  14616          28                    940
..    ...            ...        ...    ...         ...                    ...
922    24          305.0       60.0      3           2                      7
923    21          291.0       60.0      3           2                      5
924     4          130.0       60.0      2           2                      0
925     4          130.0       60.0      2           2                      0
926     4          100.0       60.0      0           2                      0

     special equipment  mobile SRBM system greatest losses direction  \
0               3047.0                 NaN                       NaN
1               3037.0                 NaN                       NaN
2               3037.0                 NaN                       NaN
3               3024.0                 NaN                       NaN
4               3014.0                 NaN                       NaN
..                 ...                 ...                       ...
922                NaN                 NaN                       NaN
923                NaN                 NaN                       NaN
924                NaN                 NaN                       NaN
925                NaN                 NaN                       NaN
926                NaN                 NaN                       NaN

     vehicles and fuel tanks  cruise missiles  submarines
0                    24218.0           2588.0         1.0
1                    24171.0           2588.0         1.0
2                    24116.0           2587.0         1.0
3                    24044.0           2587.0         1.0
4                    24007.0           2580.0         1.0
..                       ...              ...         ...
922                      NaN              NaN         NaN
923                      NaN              NaN         NaN
924                      NaN              NaN         NaN
925                      NaN              NaN         NaN
926                      NaN              NaN         NaN

[927 rows x 19 columns]>

Summary statistics are typically very useful, but our dataset examines a change over time. Therefore, we may better understand our data if we graph it with a data visualization.